/*
h1 {
	text-align: center;
	color: purple;
}
a:link {
	text-decoration: none;
	font-size: 20px;

}
a:active {
	padding-right: 5px;
	padding-left: 5px;
	background-color: #efefef;
}




 }



 #field-right {

 	padding-top: 0;
 	height: 25%;
 	background-color: #fefac0;
 	border: 2px solid black;
 }

 #field-left {
 	background-color: #4dd7fa;
 	border: 2px solid black;
 	float: left;
 }

 .gap {
 	padding-top: 1em;
 	padding-bottom: 1em;
 }



 @media (max-width:900px) {

 	body {
 		margin: 0;
 		padding: 0;
 	}
 	#field-right {
 		display: block;
 		margin-left: 10px;
 		width: 100%;

 	}
 	#field-left {
 		margin-left: 10px;
 		width: 100%;
 	}
 	ul {
 		margin-left: 10px;
 	}
 	a:link {
 		font-size:10px;
 		padding-bottom:1em;
 	}
 }




 */
body {
  margin-left: auto;
  padding: 0;
}
 li {
 	list-style: none;
}
.test {
 	border: 1px solid black;
 	background-color: #ffb4b0;
 	padding: 1em ;
 	box-sizing: border-box;
 	text-align: left;

 }

 .sub_right {
 	border: 1px solid black;
 	box-sizing: border-box;
 	padding: 1em 1em;
 	background-color: #fefac0;
  float:right;

 }
 .sub_left {
 	border: 1px solid black;
 	box-sizing: border-box;
 	padding: 1em;
 	background-color: lightblue;
  float: left;

 }

 .genre {
 	outline: 1px solid black;
 	margin-bottom: 1em;
 	margin-right: .5em;
 }

 #filter {
 	font-size: 15px;
 	border-radius: 10px;
 	background-color: white;
 	margin: .25em auto ;
 	padding-bottom: 5px;
 	padding-top: 5px;
 	display: block;

 }

h3 {
	font-size:  15px;
}
